extends ../templates/layout_sub

block content 
  main.page_default
    .f_center_box
      article.f_top_banner.bg_tap_01.web
        h1.f_top_title.tit_h1 시스템 사용방법
        p.p_16 시스템 사용의 모든 것을 단계별로 안내합니다.
      section.f_tab
        h1.hide 프리랜서 안전결제 네비게이터
        .f_tab_wrap.show 
          ul.f_tab_list 
            li.f_tab_item_4.active
              a.f_tab_link_box.p_16(href="#") 시스템 사용방법
            li.f_tab_item_4
              a.f_tab_link_box.p_16(href="#") 자주묻는 질문
            li.f_tab_item_4
              a.f_tab_link_box.p_16(href="#") 개인정보처리 등 지침안내
            li.f_tab_item_4
              a.f_tab_link_box.p_16(href="#") 계약서 등 참고양식      
      .f_tab_cntns_wrap
        section.f_tab_cntns_01
          header.f_tab_header                 
            h2.tit_h1 시스템 사용방법
          ul.f_sys_use_list   
            li.f_sys_use_item 
              span.f_sys_ico-01 
              .f_cntns_box
                h3.tit_h2 회원가입 방법
                ol.decimal.circle_list  
                  li.circle_item 
                    span.hide ① 
                    | 홈페이지 접속: 메인 화면 오른쪽 상단의 "회원가입" 버튼을 클릭하세요.
                  li.circle_item 
                    span.hide ② 
                    | 기본 정보 입력: 이름, 이메일, 비밀번호 등 필수 정보를 입력합니다.
                  li.circle_item 
                    span.hide ③ 
                    | 가입 완료: "회원가입" 버튼을 클릭하여 가입을 완료하세요. 확인 이메일이 발송됩니다.
            li.f_sys_use_item 
              span.f_sys_ico-02
              .f_cntns_box 
                h3.tit_h2 로그인 방법
                ol.decimal.circle_list  
                  li.circle_item 
                    span.hide ① 
                    | 로그인 페이지 이동: 홈페이지 우측 상단의 "로그인" 버튼을 클릭하세요.
                  li.circle_item 
                    span.hide ② 
                    | 이메일 및 비밀번호 입력: 가입 시 사용한 이메일 주소와 비밀번호를 입력합니다.
                  li.circle_item 
                    span.hide ③ 
                    | 로그인: "로그인" 버튼을 클릭하여 홈페이지에 접속하세요.
            li.f_sys_use_item 
              span.f_sys_ico-03 
              .f_cntns_box
                h3.tit_h2 인증 방법
                ol.decimal.circle_list  
                  li.circle_item 
                    span.hide ① 
                    | 홈페이지 접속: 메인 화면 오른쪽 상단의 "회원가입" 버튼을 클릭하세요.
                  li.circle_item 
                    span.hide ② 
                    | 기본 정보 입력: 이름, 이메일, 비밀번호 등 필수 정보를 입력합니다.
                  li.circle_item 
                    span.hide ③ 
                    | 가입 완료: "회원가입" 버튼을 클릭하여 가입을 완료하세요. 확인 이메일이 발송됩니다.
            li.f_sys_use_item 
              span.f_sys_ico-04 
              .f_cntns_box
                h3.tit_h2 등록 방법
                ol.decimal.circle_list  
                  li.circle_item 
                    span.hide ① 
                    |  로그인: 먼저 계정에 로그인하세요.
                  li.circle_item 
                    span.hide ② 
                    |  상품 등록 페이지 이동: 메뉴에서 "상품 등록"을 선택합니다.
                  li.circle_item 
                    span.hide ③ 
                    |  상품 정보 입력: 상품명, 가격, 설명, 이미지 등을 입력하세요.
                  li.circle_item 
                    span.hide ④ 
                    | 등록 완료: 모든 정보를 입력한 후 "등록" 버튼을 클릭하세요.
            li.f_sys_use_item 
              span.f_sys_ico-05 
              .f_cntns_box
                h3.tit_h2 승인 방법
                ol.decimal.circle_list  
                  li.circle_item 
                    span.hide ① 
                    |   관리자 로그인: 관리자는 관리자 계정으로 로그인하세요.
                  li.circle_item 
                    span.hide ② 
                    |  상품 승인 페이지 이동: 관리 페이지에서 "상품 승인" 메뉴를 클릭합니다.
                  li.circle_item 
                    span.hide ③ 
                    |  상품 검토: 등록된 상품 정보를 검토합니다.
                  li.circle_item 
                    span.hide ④ 
                    |  승인 또는 거절: 적합한 경우 "승인" 버튼을 클릭하여 상품을 승인하세요. 필요시 "거절" 버튼을 눌러 거절 사유를 입력할 수 있습니다.
            li.f_sys_use_item 
              span.f_sys_ico-06 
              .f_cntns_box
                h3.tit_h2 결제 방법
                ol.decimal.circle_list  
                  li.circle_item 
                    span.hide ① 
                    |  상품 선택: 구매하고자 하는 상품의 상세 페이지로 이동하세요.
                  li.circle_item 
                    span.hide ② 
                    |  장바구니 추가: "장바구니에 담기" 버튼을 클릭하세요.
                  li.circle_item 
                    span.hide ③ 
                    | 결제 진행: 장바구니에서 "결제하기" 버튼을 클릭합니다.
                  li.circle_item 
                    span.hide ④ 
                    |  결제 정보 입력: 결제 수단을 선택하고, 카드 정보 등 필요한 정보를 입력하세요.
                  li.circle_item 
                    span.hide ⑤ 
                    |  결제 완료: "결제 완료" 버튼을 클릭하여 결제를 완료합니다. 결제 완료 후 확인 이메일이 발송됩니다.
        