@use '../utiles/var_colors';
@use '../utiles/var';
@use '../config/mixin';
@use 'sass:color';

$tab_margin: 40px;
.main{display: flex; justify-content: center; align-items: center; width:100%;
  main{width:100%;}
  @include mixin.maxWidth($tab){
    padding:$tab_margin; 
  }
  @include mixin.maxWidth($tab){
    padding:12px; 
  }
}
.contents{flex:1 0 100%; $font-size:var.$defaultfontsize; width:100%; max-width:em(1200px, $font-size); margin:0 auto; 
  .f_top_box{$font-size:var.$defaultfontsize; font-size:$font-size; display:flex; justify-content:space-between; margin-top:em(200px, $font-size); margin-bottom:em(160px, $font-size);
    .f_head_box{width:em(508px, $font-size); 
      .tit_h1{}
      .ctns_p{ 
        &:first-of-type{font-size:20px; }
        .fc_red{font-weight:600;}
      }
      .p_rd_box{display:flex; justify-content:center; align-items: center; width:100%; height:em(44px, $font-size);  border-radius:em(22px, $font-size); background-color:var_colors.$warn_color; font-weight:600; letter-spacing: -2px; color:#fff;}

      @include mixin.maxWidth(var.$m767){
        width:100%;
        .p_rd_box{box-sizing:border-box; padding: em(10px,$font-size) 0; height:auto; border-radius:em(32px, $font-size); text-align:center;}
      }
    }
    .f_btn_box{display:flex; flex-direction: column; justify-content: space-between;}
    @include mixin.maxWidth($tab){
      display:block;
      .f_head_box{margin-bottom:$tab_margin; }
      .f_btn_box{ align-items:stretch;  
        .f_btn{margin-bottom:em(30px, $font-size);}
        .b-{
          &.rect-{
            &.mid-{
              
            }
          }
        }
      }
    }
    @include mixin.maxWidth($m767){
      display:block; margin-top:em(64px, $font-size); margin-bottom:em(40px, $font-size);
      .f_head_box{}
      .f_btn_box{margin-top:0; justify-content:start; 
        .f_btn{
          .b-{margin-top:0;}
        }
      }
    }
  }
  .f_btm_box{
    .f_nav_list{display:flex; flex-wrap:wrap; justify-content:space-between; 
      .f_nav_item{$font-size:var.$defaultfontsize; font-size:$font-size; flex:1 0 0; text-align:center; width: 100%; max-width:em(285px, $font-size); height:em(160px, $font-size); border:1px solid lighten(var_colors.$btnbdcolorgray,30%); border-radius:em(8px, $font-size); background-color:#fff; 
        .f_nav_img{display:block; margin:em(43px, $font-size) auto em(16px, $font-size) auto;}
        .f_txt{font-weight:bold;}
      }
      @include mixin.maxWidth($tab){
        .f_nav_item{flex:0 0 calc(50% - 6px); margin-bottom:em(12px, $font-size); max-width:50%; }
      }
    }
  }

}

